#wordCard8730011 {
    background-color: #00bef3;
    color: #fff;
}

#words8730011 {
    background-image: url("../../images/wordCard/blue_verbal_bubble.png");
}

.backgroundCircle8730011 {
    border-color: #fff;
    background: #00bef3;
}

.circle8730011 {
    border-color: #0677a0;
}

#closeButton8730011:after {
    color: #fff;
}

#closeButton8730011:hover:after {
    color: #0677a0;
}

#playButton8730011 {
    background-image: url("../../images/wordCard/voice_blue.png");
}

#playButton8730011:hover {
    background-image: url("../../images/wordCard/voice_blue_hover.png");
}