#wordCard8730011 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    z-index: 2147483647;
    font-size: 40px;
    font-family: "RobotoRegular", serif;
    font-weight: 200;
    line-height: 1px;
}

#wordCard8730011 span {
    display: initial !important;
}

#wordsWrapper8730011{
    position: absolute;
    width: 898px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-502px);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 9%;
    text-align: right;
}

#words8730011 {
    position: absolute;
    right: 6px;
    top: 80px;
    width: 795px;
    min-height: 135px;
    padding-top: 38px;
    box-sizing: border-box;
    background-size: 100% 100%;
    text-align: center;
    white-space: nowrap;
}

#timer8730011 {
    position: absolute;
    top: -20px;
    right: -6px;
    display: block;
    width: 60px;
    height: 60px;
}

.backgroundCircle8730011 {
    width: 56px;
    height: 56px;
    border: 2px solid;
    border-radius: 30px;
    position: absolute;
}

.circlesWrapper8730011 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0px, 60px, 60px, 30px); /* Hide half of the progress bar */
}

.circle8730011 {
    width: 56px;
    height: 56px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0px, 30px, 60px, 0px);
}

div[data-anim8730011~=base] {
    animation-iteration-count: 1;  /* Only run once */
    animation-fill-mode: forwards; /* Hold the last keyframe */
    animation-timing-function:linear; /* Linear animation */
}

.circlesWrapper8730011[data-anim8730011~=wrapper] {
    animation-delay: 2.5s; /* Wait half of the animation */
    animation-name: close-wrapper8730011; /* Keyframes name */
}

.circle8730011[data-anim8730011~=left] {
    animation-duration: 5s; /* Full animation time */
    animation-name: left-spin8730011;
}

.circle8730011[data-anim8730011~=right] {
    animation-duration: 2.5s; /* Half animation time */
    animation-name: right-spin8730011;
}

@-webkit-keyframes right-spin8730011 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin8730011 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper8730011 {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}

#closeButton8730011 {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    outline: 0;
}

#closeButton8730011:after {
    content: '\d7';
    position: absolute;
    top: 0;
    left: -3px;
    font-size: 49px;
    line-height: 20px;
    font-family: "Times New Roman", serif;
    opacity: 0.6;
}

#wordsContainer8730011 {
    min-height: 30px;
}

#playButton8730011 {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin: 0 24px 0 0;
    outline: 0;
}

#word8730011 {
    font-weight: normal;
    vertical-align: middle;
}

#dash8730011 {
    font-weight: normal;
    vertical-align: middle;
}

#translation8730011 {
    vertical-align: middle;
}

#window8730011 {
    position: fixed !important;
    font-family: Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: initial !important;
    width: 322px !important;
    height: 60px !important;
    background-color: #a9a9a9 !important;
    border: 1px solid black !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    cursor: default !important;
    outline: none !important;
    z-index: 2147483647 !important;
}

#window8730011 input {
    margin: 0 !important;
    padding: 5px !important;
    width: 101px !important;
    color: black !important;
    -webkit-appearance: textfield !important;
    box-sizing: content-box !important;
}

#window8730011 input::-webkit-input-placeholder {
    color: #a9a9ac !important;
}

#window8730011 input:focus {
    outline: auto 5px -webkit-focus-ring-color !important;
}

#window8730011 input::selection {
    background: #c6cfda !important;
}

#from8730011 {
    position: absolute !important;
    top: 50% !important;
    left: 15px !important;
    transform: translate(0%, -50%) !important;
}

#into8730011 {
    position: absolute !important;
    top: 50% !important;
    left: 144px !important;
    transform: translate(0%, -50%) !important;

}

#addButton8730011 {
    position: absolute !important;
    top: 50% !important;
    left: 273px !important;
    transform: translate(0%, -50%) !important;
    padding: 7px 13px !important;
    background: #2782ff !important;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer !important;
    outline: none !important;
    transition: 0.3s !important;
}

#addButton8730011:hover {
    background: #216dd9 !important;
}

#addButton8730011:active {
    background: #1955a8 !important;
}

#addButton8730011::selection {
    background: transparent;
}