#wordCard8730011 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    transform: translateY(-100%);
    max-height: 270px;
    z-index: 2147483647;
    font-size: 40px;
    font-family: "RobotoRegular", sans-serif;
    font-weight: 200;
    line-height: 1px;
    transition: all 1s;
}

#wordCard8730011 span {
    display: initial !important;
}

#wordsWrapper8730011 {
    position: absolute;
    width: 898px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-502px);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 9%;
    text-align: right;
}

#words8730011 {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-55.5px);
    width: 795px;
    height: 135px;
    padding-top: 38px;
    box-sizing: border-box;
    background-size: 100% 100%;
    text-align: center;
    white-space: nowrap;
}

/* Timer */
#timer8730011 {
    position: absolute;
    top: -20px;
    right: -6px;
    display: block;
    width: 60px;
    height: 60px;
}

#timer8730011 .radial-progress8730011 {
    width: 60px;
    height: 60px;
    background-color: #d6dadc;
    border-radius: 50%;
}

#timer8730011 .radial-progress8730011 .circle8730011 .mask8730011, #timer8730011 .radial-progress8730011 .circle8730011 .fill8730011 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
}

#timer8730011 .radial-progress8730011 .circle8730011 .mask8730011 {
    clip: rect(0px, 60px, 60px, 30px);
}

#timer8730011 .radial-progress8730011 .circle8730011 .mask8730011 .fill8730011 {
    clip: rect(0px, 30px, 60px, 0px);
    background-color: #97a71d;
}

#timer8730011 .radial-progress8730011 .inset8730011 {
    width: 56px;
    height: 56px;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #fff;
    border-radius: 50%;
}
/* -- Timer -- */

#closeButton8730011 {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    outline: 0;
}

#closeButton8730011:after {
    content: '\d7';
    position: absolute;
    top: 0;
    left: -3px;
    font-size: 49px;
    line-height: 20px;
    font-family: "Times New Roman", serif;
    opacity: 0.6;
}

#wordsContainer8730011 {
    min-height: 30px;
}

#playButton8730011 {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin: 0 24px 0 0;
    outline: 0;
}

#word8730011 {
    font-weight: normal;
    vertical-align: middle;
}

#dash8730011 {
    font-weight: normal;
    vertical-align: middle;
}

#translation8730011 {
    vertical-align: middle;
}

#window8730011 {
    position: fixed !important;
    top: 0;
    left: 0;
    font-size: 20px !important;
    line-height: initial !important;
    width: auto !important;
    height: 100px !important;
    margin: 0 !important;
    padding: 0 70px 0 57px !important;
    background-color: #fff !important;
    box-shadow: 0 0 9px 0 rgba(67, 74, 86, 0.34) !important;
    cursor: default !important;
    outline: none !important;
    z-index: 2147483647 !important;
}

#window8730011:before {
    content: '' !important;
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    top: -5px !important;
    left: 50% !important;
    transform: translateX(-50%) rotate(45deg) !important;
    background-color: #fff !important;
    box-shadow: 0 0 9px 0 rgba(67, 74, 86, 0.34) !important;
}

#window8730011:after {
    content: '' !important;
    position: absolute !important;
    width: 20px !important;
    height: 10px !important;
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #fff !important;
}

#window8730011 .playWrap8730011, #window8730011 .wordsWrap8730011 {
    height: 100% !important;
    display: inline-block;
}

#window8730011 .playWrap8730011 {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 57px !important;
    text-align: right !important;
    padding: 25px 12px 0 0 !important;
    box-sizing: border-box !important;
}

#window8730011 .wordsWrap8730011 {
    padding: 19px 10px 0 0 !important;
}

#window8730011 #playButton8730011 {
    vertical-align: top !important;
    display: inline-block !important;
    width: 15px !important;
    height: 15px !important;
    background: url("chrome-extension://__MSG_@@extension_id__/images/icons/voice_default.png") !important;
    background-size: 100% 100% !important;
    margin: 0 !important;
    outline: 0 !important;
    transition: 0.2s !important;
}

#window8730011 #playButton8730011:hover {
    background: url("chrome-extension://__MSG_@@extension_id__/images/icons/voice_hover.png") !important;
}

#window8730011 input {
    display: block !important;
    padding: 0 !important;
    width: 200px !important;
    height: auto !important;
    color: #043d52 !important;
    box-sizing: border-box !important;
    border: none !important;
    font-family: "RobotoRegular", sans-serif !important;
    -webkit-appearance: none !important;
}

#window8730011 input::-webkit-input-placeholder {
    color: #a9a9ac !important;
}

#window8730011 input, #window8730011 input:focus, #window8730011 input:visited {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#window8730011 input::selection {
    background: none !important;
}

#from8730011 {
    margin: 0 !important;
    font-size: 20px !important;
    font-weight: normal !important;
}

#into8730011 {
    margin: 9px 0 0 !important;
    font-weight: 200 !important;
    font-size: 18px !important;
}

#addButton8730011 {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    display: inline-block !important;
    width: 70px !important;
    height: 100px !important;
    text-align: center !important;
    background: #00bef3 !important;
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: "RobotoRegular", sans-serif !important;
    font-size: 42px !important;
    font-weight: normal !important;
    line-height: 100px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    outline: none !important;
    transition: 0.3s !important;
}

#addButton8730011:hover {
    color: #fff !important;
}

#addButton8730011::selection {
    background: transparent;
}

@media only screen and (min-height: 580px) {
    #wordCard8730011 {
        height: 30%;
    }
}

@media only screen and (max-width: 1020px) {
    #wordsWrapper8730011 {
        width: 600px;
        transform: translateX(-329px);
        font-size: 30px;
    }

    #words8730011 {
        width: 530px;
        height: 90px;
        padding-top: 22px;
        transform: translateY(-35px);
    }

    #timer8730011 {
        width: 40px;
        height: 40px;
    }

    #timer8730011 .radial-progress8730011 {
        width: 40px;
        height: 40px;
    }

    #timer8730011 .radial-progress8730011 .circle8730011 .mask8730011, #timer8730011 .radial-progress8730011 .circle8730011 .fill8730011 {
        width: 40px;
        height: 40px;
    }

    #timer8730011 .radial-progress8730011 .circle8730011 .mask8730011 {
        clip: rect(0px, 40px, 40px, 20px);
    }

    #timer8730011 .radial-progress8730011 .circle8730011 .mask8730011 .fill8730011 {
        clip: rect(0px, 20px, 40px, 0px);
    }

    #timer8730011 .radial-progress8730011 .inset8730011 {
        width: 36px;
        height: 36px;
    }

    #closeButton8730011:after {
        left: 2px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 680px) {
    #wordsWrapper8730011 {
        width: 90%;
        transform: translateX(-50%);
        font-size: 26px;
        background-size: 0;
    }

    #words8730011 {
        width: 100%;
        padding-top: 26px;
        transform: translateY(-50%);
        background-size: 0;
        border: 2px solid;
        border-radius: 55px;
    }
}

@media only screen and (max-width: 480px) {
    #wordsWrapper8730011 {
        font-size: 20px;
    }

    #words8730011 {
        padding-top: 30px;
    }

    #wordsContainer8730011 {
        min-height: 20px;
    }

    #playButton8730011 {
        width: 22px;
        height: 22px;
        margin: 0 15px 0 0;
    }
}