@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular/RobotoRegular.eot");
    src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoRegular/RobotoRegular.woff")format("woff"),
    url("fonts/RobotoRegular/RobotoRegular.ttf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoLight/RobotoLight.eot");
    src: url("fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoLight/RobotoLight.woff")format("woff"),
    url("fonts/RobotoLight/RobotoLight.ttf")format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoMedium/RobotoMedium.eot");
    src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoMedium/RobotoMedium.woff")format("woff"),
    url("fonts/RobotoMedium/RobotoMedium.ttf")format("truetype");
    font-style: normal;
    font-weight: 500;
}

body {
    background-color: rgba(161, 173, 179, 0.4);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #043d52;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
    outline: none;
}

.wrapper {
    position: relative;
    width: 700px;
    margin: 0 auto 10px;
    padding: 40px 0 40px;
    background-color: #fff;
}

section {
    padding: 42px 40px 29px;
    border-bottom: 1px solid rgba(4, 61, 82, 0.1);
}

header {
    padding: 0 40px 32px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    float: right;
    min-height: 51px;
    line-height: 48px;
    margin: 0;
}

h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 21px 29px 0;
    line-height: 16px;
}

.logo {
    width: 231px;
    height: 51px;
    background: url("images/icons/logo.png");
    background-size: 100% 100%;
}

.translation {
    padding-bottom: 39px;
}

.languages_wrapper {
    min-height: 40px;
}

.select {
    position: relative;
    display: inline-block;
    width: 214px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.selected {
    display: inline-block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: 40px;
    padding: 0 0 0 17px;
    border: 1px solid #e1e1e1;
}

.selected span {
    display: inline-block;
    width: 153px;
    margin: 0 17px 0 0;
}

.selected:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 17px;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #043d52;
    border-bottom-color: #043d52;
    border-bottom-width: 0px;
}

.active .selected {
    border: 1px solid #6bd1f6;
    border-bottom: 0px;
}

.active .selected:after {
    border-top-width: 0px;
    border-bottom-width: 5px ;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 201px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 10;
}

.active .options {
    border: 1px solid #6bd1f6;
    border-top: 0px;
}

.option {
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 17px;
    overflow: hidden;
}

.option:hover {
    background-color: #e4f8fe;
}

.option.disabled {
    color: #a1adb3;
    cursor: default;
}

.option.disabled:hover {
    background-color: #fff;
}

.options::-webkit-scrollbar {
    width: 9px;
}

.options::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.11);
}

.options::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.options::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.options::-webkit-scrollbar-corner {
    background-color: transparent;
}

#changeLanguages {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 0 20px;
    border: none;
    background: url("images/icons/lang_shifter_default.png");
    cursor: pointer;
    transition: all 0.2s;
}

#changeLanguages:hover {
    background: url("images/icons/lang_shifter_hover.png");
    transition: all 0.2s;
}

#changeLanguages:focus {
    outline: none;
}

.toggle {
    display: inline-block;
    width: 47px;
    height: 18px;
    position: relative;
}

.toggle input[type = checkbox] {
    visibility: hidden;
}

.toggle label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle label:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a1adb3;
    opacity: 0.4;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.toggle label:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 26px;
    background-color: #a1adb3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transition: right 0.7s ease;
}

.toggle input[type = checkbox]:checked + label:after {
    right: -3px;
    background-color: #00bef3;
    transition: right 0.7s ease;
}

.toggle input[type = checkbox]:checked + label:before {
    background-color: #00bef3;
}

.toggle input[type = checkbox]:checked[disabled] + label:before, .toggle input[type = checkbox]:checked[disabled] + label:after {
    background-color: #a1adb3;
}

.checkbox {
    width: 100%;
    height: 24px;
    position: relative;
}

.checkbox input[type = checkbox] {
    visibility: hidden;
}

.checkbox label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 37px;
    cursor: pointer;
    line-height: 24px;
}

.checkbox label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #043d52;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    background: #fff center no-repeat;

}

.checkbox input[type = checkbox]:checked + label:before {
    background-color: #00bef3;
    background-image: url("images/icons/checkmark_for_checkbox.png");
    border-color: #00bef3;
    transition: all 0.2s ease;
}

.checkbox input[type = checkbox]:checked[disabled] + label:before {
    background-color: #a1adb3;
    background-image: url("images/icons/checkmark_for_checkbox.png");
    border-color: #a1adb3;
    opacity: 0.4;
    transition: all 0.2s ease;
}

.checkbox input[type = checkbox][disabled] + label:before {
    border-color: #a1adb3;
    opacity: 0.4;
    transition: all 0.2s ease;
}

.rangeWrapper {
    width: 339px;
    position: relative;
}

.rangeWrapper>span {
    display: block;
}

.caption {
    font-weight: 200;
    margin-bottom: 13px;
}

.timeWrapper {
    position: absolute;
    top: 0;
    right: 0;
}

input[type = range] {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

input[type = range]:focus {
    outline: none;
}

input[type = range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    margin-top: -6px;
    border-radius: 50%;
    background: #00bef3;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #00bef3;
}

#selectInterval {
    margin-top: 39px;
}

#selectDuration {
    margin-top: 32px;
}

#cardThemes {
    margin-top: 32px;
}

#cardThemes .caption {
    display: block;
    margin-bottom: 19px;
}

.roundCheckbox {
    width: 50px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin: 0 8px 0 0;
}

.roundCheckbox input[type = checkbox] {
    visibility: hidden;
}

.roundCheckbox label {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border: 2px solid #043d52;
    border-radius: 50%;;
}

.roundCheckbox label:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #043d52;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -2px;
    left: 28px;
    background: #fff center no-repeat;
}

.roundCheckbox label:hover:after {
    background-image: url("images/icons/checkmark_hover.png");
}

.roundCheckbox input[type = checkbox]:checked + label:hover:after {
    background-image: url("images/icons/checkmark_hover.png");
}

.roundCheckbox input[type = checkbox][disabled] + label:hover:after {
    background-image: none;
}

.roundCheckbox input[type = checkbox]:checked + label:after {
    background-image: url("images/icons/mark_choosed.png");
}

.roundCheckbox input[type = checkbox]:checked[disabled] + label:after {
    background-image: url("images/icons/checkmark_hover.png");
}

.button {
    display: inline-block;
    padding: 10px 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 40px 0 0 -12px;
    text-decoration: none;
    color: #00bef3;
    line-height: 1em;
}

.button:hover {
    background-color: rgba(118, 220, 248, 0.1);
}

.notifications h2 {
    margin-bottom: 0;
}

.dictionary {
    border: none;
}

.dictionary h2 {
    margin-right: 14px;
}

.dictionary .button {
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.dictionary .button:hover {
    background-color: rgba(118, 220, 248, 0.1);
}

#importDictionary {
    position: relative;
}

#inputImport {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#inputImport::-webkit-file-upload-button {
    cursor: pointer;
}

.clearWrapper {
    display: none;
}

.clearWrapper .checkbox {
    display: inline-block;
    width: 105px;
}

.clearWrapper .checkbox label {
    margin-top: -2px;
}

.clearWrapper .button, #prepareClearDictionary {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    outline: none;
    border: none;
    color: #da695d;
    cursor: pointer;
}

#prepareClearDictionary {
    margin-left: -12px;
}

.clearWrapper .button:hover, #prepareClearDictionary:hover {
    background-color: rgba(218, 105, 93, 0.1);
}

.clearWrapper .button[disabled], #prepareClearDictionary[disabled], #exportDictionary[disabled] {
    color: rgba(4, 61, 82, 0.2);
    cursor: auto;
}

.clearWrapper .button[disabled]:hover, #prepareClearDictionary[disabled]:hover, #exportDictionary[disabled]:hover {
    background-color: #fff;
}

footer {
    margin: 107px 0 0 0;
    padding: 0 40px;
    font-size: 16px;
}

.siteLink {
    margin: 0 0 0 56px;
    color: #00bef3;
    font-weight: 500;
}

.siteLink:hover {
    border-bottom: 1px solid #00bef3;
}

#shareButtons {
    float: right;
    display: inline-block;
    margin-top: -3px;
}

#shareButtons li {
    margin: 0 0 0 34px !important;
}

#shareButtons .ya-share2__list {
    vertical-align: top;
}

#shareButtons .ya-share2__badge {
    background-color: #fff;
    height: 20px;
    width: 21px;
}

#shareButtons .ya-share2__icon {
    height: 20px;
    width: 21px;
}

#shareButtons .ya-share2__icon:active {
    box-shadow: none;
}

#shareButtons .ya-share2__item_service_vkontakte .ya-share2__icon {
    background: url("images/icons/vk.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_facebook .ya-share2__icon {
    background: url("images/icons/fb.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url("images/icons/ok.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_twitter .ya-share2__icon {
    background: url("images/icons/tw.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_vkontakte .ya-share2__icon:hover {
    background: url("images/icons/vk_h.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_facebook .ya-share2__icon:hover {
    background: url("images/icons/fb_h.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_odnoklassniki .ya-share2__icon:hover {
    background: url("images/icons/ok_h.png") no-repeat center bottom;
}

#shareButtons .ya-share2__item_service_twitter .ya-share2__icon:hover {
    background: url("images/icons/tw_h.png") no-repeat center bottom;
}

.statusWrapper {
    position: relative;
    height: 0;
    background-color: #e7f6e2;
    color: #6dbf5f;
    padding: 0 15px;
    transition: height 0.5s;
}

.closeButton {
    position: absolute;
    display: block;
    top: 16px;
    right: 15px;
    font-family: "Times New Roman", serif;
    font-size: 34px;
    color: #6dbf5f;
    line-height: 0.5em;
    opacity: 0;
    transition: opacity 0.5s;
}

.wrong {
    background-color: #f7dbd9;
    color: #e46761;
}

.wrong .closeButton {
    color: #e46761;
}

.open {
    height: 50px;
    margin-bottom: 25px;
}

.open .closeButton {
    opacity: 1;
}

#status {
    line-height: 50px;
    opacity: 0;
    transition: all 0.5s;
}

.open #status {
    opacity: 1;
}

.hidden {
    display: none;
}