@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular/RobotoRegular.eot");
    src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoLight/RobotoLight.eot");
    src: url("fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoMedium/RobotoMedium.eot");
    src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
    url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

html, body {
    width: 300px;
    padding: 0;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #043d52;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: block;
}

#headBlock {
    padding: 27px 27px 6px;
}

.logo {
    display: inline-block;
    width: 123px;
    height: 27px;
    background: url("images/icons/logo.png");
    background-size: 100% 100%;
    vertical-align: middle;
}

#settingsButton {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 46px;
    vertical-align: middle;
    background-image: url("images/icons/settings.png");
    background-size: 100% 100%;
    transition: 0.2s;
}

#settingsButton:hover {
    background-image: url("images/icons/settings_hover.png");
}

.toggle {
    position: absolute;
    top: 32px;
    right: 27px;
    display: inline-block;
    width: 38px;
    height: 16px;
}

.toggle input[type = checkbox] {
    visibility: hidden;
}

.toggle label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle label:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cdd8dc;
    opacity: 0.4;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.toggle label:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 24px;
    background: url("images/icons/on_icon.png") #cdd8dc center top 5px no-repeat;
    background-size: 10px 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    transition: right 0.7s ease;
}

.toggle input[type = checkbox]:checked + label:after {
    right: -6px;
    background-color: #a9de7e;
    transition: right 0.7s ease;
}

.toggle input[type = checkbox]:checked + label:before {
    background-color: #a9de7e;
}

.toggle input[type = checkbox]:checked[disabled] + label:before, .toggle input[type = checkbox]:checked[disabled] + label:after {
    background-color: #cdd8dc;
}

#wordBlock {
    position: relative;
    padding-top: 26px;
}

.menuWrapper {
    float: left;
    padding-left: 28px;
    padding-top: 4px;
}

.wordWrapper {
    position: relative;
    margin-left: 63px;
    padding-right: 27px;
}

#menuButton {
    display: block;
    transition: all 0.2s;
}

.openMenu {
    position: relative;
    width: 15px;
    height: 12px;
    border-top: 2px solid #00bef3;
    opacity: 0.4;
}

.openMenu:before, .openMenu:after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 15px;
    height: 2px;
    background-color: #00bef3;
}

.openMenu:before {
    bottom: 6px;
}

.openMenu:after {
    bottom: 0;
}

.openMenu:hover {
    opacity: 1;
}

.closeMenu {
    width: 14px;
    height: 14px;
    margin-right: 1px;
    background-image: url("images/icons/closemenu_defaul.png");
    background-size: 100% 100%;
}

.closeMenu:hover {
    background-image: url("images/icons/closemenu_hover.png");
}

input {
    display: block;
    padding: 0 20px 0 0;
    width: 190px;
    color: #043d52;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
}

input::-webkit-input-placeholder {
    color: #b3c4cb;
}

input:focus, input:visited {
    outline: none;
}

input::selection {
    background: #8CD7F3;
}

#fromLanguage {
    font-size: 16px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(4, 61, 82, 0.1);
    color: #043d52;
}

#fromLanguage:not([value=""]) {
    border-bottom-color: rgba(4, 61, 82, 0.4);
}

#fromLanguage:focus {
    border-bottom-color: rgba(4, 61, 82, 0.4);
}

#intoLanguage {
    font-size: 14px;
    color: #b3c4cb;
}

.playButton {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("images/icons/voice_default.png");
    background-size: 100% 100%;
    transition: background 0.2s;
}

.playButton:hover {
    background-image: url("images/icons/voice_hover.png");
}

.deleteButton {
    display: block;
    width: 10px;
    height: 14px;
    opacity: 0.6;
    background-image: url("images/icons/basket_icon.png");
    background-size: 100% 100%;
    transition: all 0.2s;
}

.deleteButton:hover {
    opacity: 1;
    background-image: url("images/icons/basket_icon_hover.png");
}

#playButton {
    position: absolute;
    top: 3px;
    right: 27px;
}

.addWrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s;
}

.addWrapper span, .addWrapper #deleteButton {
    display: none;
}

.addWrapper.success {
    padding: 0 28px 0 64px;
    background-color: #98de5f;
    color: #6bb231;
}

.addWrapper.success.delete {
    background-color: #da695d;
    color: #ad4d42;
}

#addButton {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #00bef3;
    text-transform: uppercase;
    color: #76dcf8;
    font-size: 13px;
    line-height: 40px;
    transition: all 0.2s;
}

#addButton:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-image: url("images/icons/add_icon_default.png");
    background-size: 100% 100%;
    vertical-align: middle;
    transition: all 0.2s;
}

#addButton:hover {
    color: #fff;
}

#addButton:hover:before {
    background-image: url("images/icons/add_icon_hover.png");
}

.addWrapper.success #addButton {
    display: none;
}

.addWrapper.success #deleteButton {
    display: block;
    position: absolute;
    top: 12px;
    left: 27px;
}

.addWrapper.success .word {
    position: relative;
    display: inline;
    max-width: 208px;
    padding-left: 19px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addWrapper.success .word:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    display: inline-block;
    width: 10px;
    height: 8px;
    background-image: url("images/icons/ok_word.png");
    background-size: 100% 100%;
}

.addWrapper.success.delete .word {
    display: none;
}

.addWrapper.success.delete .deleteWarning {
    display: inline;
}

#searchBlock {
    position: relative;
    padding: 23px 28px 18px;
}

#searchInput {
    width: 100%;
    font-size: 16px;
    padding: 0 0 3px 31px;
    border-bottom: 1px solid rgba(4, 61, 82, 0.1);
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: searchfield;
}

#searchInput::-webkit-search-cancel-button {
    cursor: pointer;
    -webkit-appearance: searchfield-cancel-button;
}

#searchInput:not([value=""]) {
    border-bottom-color: rgba(4, 61, 82, 0.4);
}

#searchInput:focus {
    border-bottom-color: rgba(4, 61, 82, 0.4);
}

#searchButton {
    position: absolute;
    top: 28px;
    left: 28px;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("images/icons/search_icon_default.png");
    background-size: 100% 100%;
    transition: background 0.2s;
}

#searchInput:not([value=""]) + #searchButton {
    background-image: url("images/icons/search_icon_active.png");
}

#wordsBlock {
    max-height: 270px;
    overflow-y: auto;
}

#wordsBlock::-webkit-scrollbar {
    width: 7px;
}

#wordsBlock::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.11);
}

#wordsBlock::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#wordsBlock::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#wordsBlock::-webkit-scrollbar-corner {
    background-color: transparent;
}

#wordsBlock li {
    position: relative;
    min-height: 90px;
    padding: 23px 58px 22px;
    transition: 0.2s;
    box-sizing: border-box;
}

#wordsBlock li:hover {
    background-color: #e5f8fe;
}

#wordsBlock li.deleteStyle, #wordsBlock li.deleteStyle:hover {
    background-color: #f8e1df;
}

#wordsBlock .playButton {
    position: absolute;
    top: 27px;
    left: 27px;
}

#wordsBlock .deleteButton {
    position: absolute;
    top: 24px;
    right: 27px;
    width: 12px;
    height: 17px;
    opacity: 1;
    background-image: url("images/icons/remove_icon_default.png");
    background-position: center;
    background-repeat: no-repeat;
}

#wordsBlock .deleteButton:hover {
    background-image: url("images/icons/remove_icon_hover.png");
}

#wordsBlock input {
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
}

#wordsBlock li input:nth-child(3) {
    font-size: 14px;
    color: #5e8897;
    margin-top: 5px;
}

.toTop {
    text-align: center;
}

#backToTop {
    position: relative;
    display: inline-block;
    margin: 9px 0 17px;
    padding-left: 18px;
    color: #00bef3;
    text-transform: uppercase;
    font-size: 12px;
}

#backToTop:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("images/icons/gototop_button.png");
    background-size: 100% 100%;
    transition: transform 0.3s;
}

#socialBlock {
    position: relative;
    height: 32px;
}

#shareButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#shareButtons li {
    margin: 0 !important;
    width: 25%;
    vertical-align: bottom;
}

#shareButtons li:hover {
    opacity: 1;
}

#shareButtons .ya-share2__list {
    width: 100%;
}

#shareButtons .ya-share2__link {
    width: 100%;
}

#shareButtons .ya-share2__badge {
    height: 30px;
    width: 100%;
    padding-top: 8px;
    border-radius: 0;
    text-align: center;
    box-sizing: border-box;
    transition: height 0.2s;
}

#shareButtons .ya-share2__badge:hover {
    height: 32px;
}

#shareButtons .ya-share2__icon {
    width: 16px;
    height: 16px;
}

#shareButtons .ya-share2__icon:active {
    box-shadow: none;
}

#shareButtons .ya-share2__item_service_vkontakte .ya-share2__icon {
    background: url("images/icons/vk_white.png") no-repeat center;
    background-size: 16px 10px;
}

#shareButtons .ya-share2__item_service_facebook .ya-share2__icon {
    background: url("images/icons/fb_white.png") no-repeat center;
    background-size: 6px 14px;
}

#shareButtons .ya-share2__item_service_odnoklassniki .ya-share2__icon {
    background: url("images/icons/ok_white.png") no-repeat center;
    background-size: 9px 16px;
}

#shareButtons .ya-share2__item_service_twitter .ya-share2__icon {
    background: url("images/icons/tw_white.png") no-repeat center;
    background-size: 13px 11px;
}

.hidden {
    display: none;
}