body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 9pt;
}

table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #e8e8e8;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dbdbdb;
    color: #4671d5;
}

th::selection {
    background: transparent !important;
}

.firstColumn {
    width: 42.5%;
}

.firstColumn::selection {
    background: #c6cfda;
}

.thirdColumn {
    border-left: 2px solid #06266f;
    width: 40%;
}

.thirdColumn::selection {
    background: #c6cfda;
}

.secondColumn {
    width: 7.5%;
}

.fourthColumn {
    width: 10%;
}

.deleteButton {
    color: white;
    padding: 3px 7px;
    text-decoration: none;
    outline: none;
    background: #d44b38;
    transition: 0.3s;
}

.deleteButton:hover {
    background: #e85f4c;
}

.deleteButton:active {
    background: #980f00;
}

.deleteButton::selection {
    background: transparent !important;
}

.playWordButton {
    background: url(images/icons/playWord18x15.png);
    display: block;
    width: 18px;
    height: 15px;
    outline: none;
    transition: 0.3s;
}

.playWordButton:hover {
    background: url(images/icons/playWord18x15_hover.png);
}

.playWordButton:active {
    background: url(images/icons/playWord18x15_active.png);
}

.playWordButton::selection {
    background: transparent !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

.highlight {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #76baff;
}